<template name="hello">
  <h3>Meteor: Last.FM check</h3>
  <input type="text" id="userName" value="{{userName}}"></input>
  <input type="button" value="Fetch" id="fetchButton" />
  <input type="button" value="Reset" id="resetButton" />

  <div id="chart-graph"></div>

  <h2>Users List</h2> {{ accountCount }}
  <ul>
    {{#each accounts}}
      <li>{{user}}</li>
    {{/each}}
  </ul>

  <h2>Recent Tracks</h2>
  <ol>
    {{#each recentTracks}}
      <li><i>{{name}}</i> by {{artist.text}}</li>
    {{/each}}
  </ol>
</template>
